*~
.\#*
\#*\#

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps

*.ilg
*.ind
*.idx
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.lof
*.lol
*.lot

# Generated PDF
main.pdf

aux/*.log
sec/*.log


.DS_Store
Thumbs.db